@font-face {
  font-family: 'Sorts Mill Goudy';
  font-style: normal;
  font-weight: 400;
  src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'), url(sorts-mill-goudy.woff) format('woff');
}

body {
  background: url(bg.jpg);
}
.deck-container {
  font-family: Helvetica, sans-serif;
  background: url(stripe.png) repeat-x 0 -5px;
  position: relative;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.deck-container h1, .deck-container h2 {
  font-family: 'Sorts Mill Goudy', serif;
}
.deck-container h1:before, .deck-container h1:after {
  font-family: Arial, Helvetica, sans-serif;
  color: #b9b9b9;
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
  line-height: 1em;
  padding: 0 0.3em;
} .deck-container h1:before {
  content: "{";
} .deck-container h1:after {
  content: "}";
}

.deck-container blockquote {
  font-style: italic;
  text-align: justify;
  padding: 0 1em;
} .deck-container .quote-attribution {
  display: block;
  text-align: right;
  padding: 0 1em;
} .deck-container .quote-attribution:before {
  content: "--"
}

.deck-container dt {
  font-weight: bold;
} .deck-container dt:after {
  content: ":";
} .deck-container dd {
  margin-left: 1em;
}

.deck-container code.inline {
  background-color: #eee;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.3em;
  border: solid 0.1em #aaa;
  padding: 0 0.2em;
  display: inline;
  font-family: monospace;
}

.deck-container .library-info {
  float: right;
  margin-right: 1em;
  font-size: 1.5em;
} .deck-container .library-info .retrieved {
  font-style: italic;
  font-size: 0.8em;
}

/* Styling used for stepping through a bunch of suggestions where each new
 * suggestion obsoletes the previous one. The final suggestion is not
 * obseleted. */
.deck-container .suggestions .slide.deck-before,
.deck-container .suggestions .slide.deck-previous {
  text-decoration: line-through;
} .deck-container .suggestions .slide:last-child {
  text-decoration: none;
}

.deck-container .large {
  font-size: 2em;
}
.deck-container .small {
  font-size: 1em;
}
.deck-container .logo {
  text-align: center;
  display: block;
}

ol.sequence > li {
  display: inline-block;
  margin-right: 1.5em;
} ol.sequence ol, ol.sequence ul {
  margin: 0;
}
